
<!-- One -->
<section id="one">
    <div class="container">
        <h3>About</h3>
        <p>A proven Software Engineer with a track record of providing high quality, and reliable deliverables efficiently. Considered a polyglot of sorts with prior production experience of working with Java, JavaScript, Ruby, and Python.</p>
        <ol class="feature-icons">
            <li class="icon solid fa-coffee">Drink much coffee</li>
            <li class="icon solid fa-code">Write some of the code</li>
            <li class="icon solid fa-coffee">Drink more coffee</li>
            <li class="icon solid fa-book">Read books and stuff</li>
            <li class="icon solid fa-code">Write more of the code</li>
            <li class="icon solid fa-users">Bounce ideas of colleagues</li>
            <li class="icon solid fa-bolt">Job done</li>
        </ul>
    </div>
</section>
